.App .bg-white {
  background-color: #FFF; 
}

.App .dropdown-item {
  cursor: pointer;
}

.App #react-paginate ul {
  display: inline-block;
}

.App #react-paginate li {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.App table td {
  vertical-align: middle;
}

.App .fs-16 {
  font-size: 16px;
}